.register {
  height: 100vh;
  background: linear-gradient(
    138deg,
    rgba(171, 166, 255, 1) 0%,
    rgba(166, 237, 250, 1) 58%,
    rgba(239, 210, 240, 1) 92%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    overflow: hidden;
    background-color: white;
    width: 50%;
    display: flex;
    border-radius: 10px;
    min-height: 500px;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.6), rgba(39, 11, 96, 0.6)),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600");
      background-size: cover;
      background-position: center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        cursor: pointer;
        font-weight: bold;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 10px 10px;
          outline: none;
        }

        button {
          width: 50%;
          padding: 10px;
          cursor: pointer;
          border: none;
          background-color: rebeccapurple;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
